@model IEnumerable<AirnetMVC.DataService.Plan>

@{
    ViewBag.Title = "ViewAddonPlans";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Popular Addon Plans</h2>

<div class="my-auto lead btn btn-primary" style="cursor: pointer; color: dodgerblue" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1" aria-controls="offcanvasRight">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
    </svg>
    @Ajax.ActionLink("Create", "CreatePlan", "",
    new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divCreate", InsertionMode = InsertionMode.Replace },
    htmlAttributes: new { @class = "text-decoration-none text-white" })
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel1" class="mx-auto my-auto">Create Plan</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="divCreate">

    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4">
        @foreach (var item in Model)
        {
            <div class="card mb-3 shadow rounded p-3 col-lg-4 mx-5" style="max-width: 20rem; ">
                <div class="d-flex justify-content-between">
                    <div class="h3 fw-bolder my-auto">₹@Html.DisplayFor(modelItem => item.PlanPrice)</div>
                    <div class="h5 my-auto">@Html.DisplayFor(modelItem => item.PlanName)</div>
                </div>
                <hr />
                <div class="text-dark">
                    <div class="row">
                        <div class="col-6">
                            <div class="h5 fw-bolder">@Html.DisplayFor(modelItem => item.Data)</div>
                            <div class="lead">Data</div>
                        </div>
                        <div class="col-6 text-end">
                            <div class="h5 fw-bolder">@Html.DisplayFor(modelItem => item.PlanValidity) days</div>
                            <div class="lead">Validity</div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-between">
                    <div class="my-auto lead btn btn-success" style="cursor: pointer; color: dodgerblue" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                        @Ajax.ActionLink("Edit", "EditPlan", new { id = item.PlanId },
                        new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divEdit", InsertionMode = InsertionMode.Replace },
                        htmlAttributes: new { @class = "text-decoration-none text-white" }
                        )
                    </div>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasRightLabel" class="mx-auto my-auto">Edit Plan</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body" id="divEdit">

                        </div>
                    </div>
                    <a href="@Url.Action("DeletePlan","Plan" , new { id = item.PlanId })" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                        Delete
                    </a>

                    <div class="my-auto lead btn" style="cursor: pointer; color: dodgerblue; background-color: #a435f0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight">
                        <svg style="color: white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 21.9L7.05505 16.944L8.46305 15.535L12 19.07L15.535 15.535L16.95 16.949L12 21.9ZM8.46305 8.46501L7.05005 7.05001L12 2.10001L16.944 7.05501L15.536 8.46301L12 4.92901L8.46405 8.46401L8.46305 8.46501Z" fill="white"></path>
                        </svg>
                        @Ajax.ActionLink("More", "PlanDetails", new { id = item.PlanId },
                        new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divDetail", InsertionMode = InsertionMode.Replace },
                        htmlAttributes: new { @class = "text-decoration-none text-white" })
                    </div>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasRightLabel2" class="mx-auto my-auto">More Details</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body" id="divDetail">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>